.Header {
  text-align: center;
}

.Header-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Header-body {
  padding: 10px 20px;
  background: #222
}

.Header-title {
  text-align: center;
}

.Header-listType-btn {
  text-align: right
}

@keyframes Header-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
