.App {
  /* text-align: center; */
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-body {
  padding: 10px 20px 20px 20px;
}

.App-list {
  height: 120px;
}

.App-thumbnail {
  width: 100%;
}

.App-thumbnail-list {
  height: 100%;
  float: left;
}

.App-title {
  width: 100%;
  text-align: center;
  font-size: 10px;
  /* height: 25px; */
  line-height: 1;
  margin: 5px 0px;
}

.App-count {
  width: 100%;
  text-align: center;
  font-size: 8px;
  height: 25px;
  color: yellow
}

.App-count-row {
  height: 120px
}

.App-count-data{
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.App-list-title {
  width: 100%;
  font-size: 10px;
  line-height: 1;
  margin: 5px 0px;
}

.App-list-detail {
  border-bottom: 1px #444 solid;
}
.App-count-data-list {
    text-align: center;
    font-size: 45px;
    color: yellow;
}

.App-list-detial {
  font-size: 20px;
  padding-right: 0 !important;
  padding-top: 10px
}

.App-list-detial-count {
  font-size: 17px;
  color: wheat
}

.App-list-detial-date {
  font-size: 13px;
  color: #aaa
}

.App-list-top {
  padding: 0px !important
}

/* Detail Page */
.Detail-info-dict {
  color: #999
}

.Detail-info-synopsis {
  text-align: justify;
  text-justify: inter-word;
}

.Detail-info-count {
  color: yellow;
  font-size: 15px;
}

.Detail-info-other {
  font-size: 13px;
}

.Detail-info-other-mid {
  color: yellow;
}

.LinesEllipsis-ellipsis {
  color: yellow !important
}

.slider-control-bottomcenter, .slider-control-centerright, .slider-control-centerleft{
  display: none !important
}

.Detail-silder-img, .Detail-silder-video {
  width: 100%
}

.Detail-count-data-list {
    text-align: center;
    font-size: 45px;
    color: yellow;
}

.Detail-info-synopsis-1 {
  padding: 10px
}

.removeRightPad {
  padding-right: 0 !important
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
